<!DOCTYPE html>
<html>
  <head>
    <title>Microservices | freeCodeCamp.org</title>
    <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <h1>Microservices Project</h1>
    <hr />

    <!-- Timestamp Section -->
    <div class="container">
      <h2>Timestamp Microservice</h2>
      <h3>Example Usage:</h3>
      <ul>
        <li><a href="api/2015-12-25">/api/2015-12-25</a></li>
        <li><a href="api/1451001600000">/api/1451001600000</a></li>
      </ul>

      <h3>Example Output:</h3>
      <p>
        <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
      </p>
    </div>

    <hr />

    <!-- File Metadata Section -->
    <div class="container">
      <h2>File Metadata Microservice</h2>

      <p>Upload a file to view its metadata.</p>

      <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
        <input id="inputfield" type="file" name="upfile">
        <input id="button" type="submit" value="Upload">
      </form>
    </div>

    <div class="footer">
      <p>
        By <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a>
      </p>
    </div>
  </body>
</html>
